/* -----------------------------
   colors used
   -----------------------------
    #000000
    #020203
    #4d84c4
    #a51c30
    #f5f5f8
    #ebebeb
    #ffffff
    
    You can see the color palette (minus the white and black) at: 
    https://coolors.co/a51c30-4d84c4-020203-ebebeb-f5f5f8
*/

/* -----------------------------
   fonts used
   -----------------------------
Note that Roboto and "Roboto Condensed" are available from the linked fonts already in the HTML

font-family stack for most things:
    Roboto, Arial, sans-serif;

font-family stack for 'condensed' elements, such as hX headings, header navigation, and links in the 'Explore'  section:
    'Roboto Condensed', Arial, sans-serif;
   -----------------------------  */


/* * {
    box-sizing: border-box;
} */

body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

header {
   background: #cccccc;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1rem;
   /* background: red; */
   flex: 1 0 30%;
   flex-wrap: wrap;
}

h1 {
   margin: 0;
   font-weight: normal;
   font-size:x-large;
}

header nav {
   /* background: lightblue; */
   font-size: small;
   flex: 0 1 70%;
}

header nav ul {
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

header nav ul li a {
   text-decoration:none;
   /* color: rgb(#0b3653); */
   color: #0b3652;
}

header nav ul li a:link {
   color: #0b3652;
}

header nav ul li a:hover {
   color: white;
   text-decoration: underline;
}

header nav ul li a:visited {
   color: #0d9ca3;
}

header nav ul li a:active {
   color: #fea40c;
}